
body {
   background-color: rgb(207, 211, 215);
   padding: 0;
   margin: 0;
   font-family: 'SF-Pro-Text-Regular';
}

.hidden {
   display: none;

}

header {
   /* background-color: aquamarine; */
   /* display: flex;
   align-items: center;
   padding: 0;
   margin: 0; */
}

/* Content */

#logo {
   background-color: red;
   display: block;
}

#menu {
   background-color: brown;
}

/* MIDI Section */
#Midi {
   background-color: aqua;
   display: block;
   /* height: 50px; */
   text-align: left;
  
}

.section1 h3{
   margin-left: 20px;
}


/* Title Music Mixer - Section */
#music-mixer-title {
   background-color: orange;
   text-align: right;
   display: block; 
}

h4, #ve {
   display: inline;
}

.section1 h4{
   font-size: 20px;
   margin-top: 30px;
   
}

#ve {
   background-color: rgb(251, 255, 200);
   font-size: 100px;
   font-weight: bold;
}

/* Section 3 - Vinyl */

.section2 {
   /* background-color: bisque; */
   height: 100vh;
   /* position: relative; */
   
}

#vinyl {
   display: block;
   background-color: blue;
   /* position: absolute; */
   background-image: url(../images/Group-11.svg);
   background-repeat: no-repeat;
   background-size: contain; 
   /* background-position: center; */
   
   

}

/* #vinyl img{
   margin-left: 0px; 
   margin-top: 20px; 
   height: auto;
   width: 40vw;
} */

/* TV - box */

#tv-box {
   background-color: red;
   overflow: hidden;
   display: block;
   height: 100vh;
   position: relative;
}

#tv-layout {
   background-color: aqua;
   height: 300px;
   width: 300px;
   margin-bottom: 90px;
}

/* Item Grids for Sounds */

#grid-layout-s2 {
   display: grid;
   grid-template-columns: repeat(4, 1fr); /* 2 columns */
   grid-template-rows: repeat(2, 1fr); /* 4 rows */
   gap: 5px; /* Gap between grid items */
   /* width: 400px; */
   /* margin-bottom: 0; */
   margin: 80px;
   
}

.grid-item {
  
   /* background-color: lightblue; */
  
   margin: 20px; 
   
}

.item {
   height: 90px;
   /* padding: 10px; */
   border: 1px solid black;
   background-color: brown;
   display: flex;
   justify-content: center;
   align-items: center; 
}

/* #knob {
   margin-top: 20px;
   height: 30%;
   width: 30%;
   background-color: azure;
   border-radius: 50%;
   position: absolute;
   right: 90px;
   top: 500px;
   bottom: 500px;
} */

/* Section 3 - Knobs */

#knobs {
   /* background-color: blueviolet; */
   display: flex;
   flex-direction: column;
   align-items: center;
  
}

.section3 #knobs img {
   height: 150px;
   width: auto;
   max-width: 100%;
  
 
   
   
  
}


header img {
   position: relative;
   left: -2%;
   width: 210px;
   height: auto;
   transition: transform 0.5s ease-in-out;
}

header img:hover {
   transform: rotate(90deg); 
}


object {
   position: relative;
   width: 200px;
   height: auto;
   z-index: -1;
}

ul {
   /* display: flex;
   margin: 0;
   padding: 0;
   margin-left: 20%; */
   text-align: center;
   background-color: blue;
   margin-top: 50px;
   
  
 
   
}

li {
   list-style: none;
   display: inline;
   /* display: flex; */
   /* margin: 0 50% ; */
   margin-left: 20px;
   background-color: aqua;
    
}

/* Lightbox */

.lightbox {
   border-top-right-radius: 80px;
   position: absolute;
   top: 0;
   left: 0;
   width: 30vw;
   height: 200vh;
   max-height: 300vh;
   background-color: rgb(106, 106, 106);
   overflow: hidden;
   display: none;
   z-index: 1;
   /* Apply the slide-right animation */
   animation: slide-right 1s cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.lightbox:target {
   display: block;
}

/* Define the slide-right animation */
@keyframes slide-right {
   0% {
       transform: translateX(-500px);
   }
   100% {
       transform: translateX(0px);
   }
}


#lb-close {
   position: absolute;
   left: -1%;
   width: 210px;
   height: auto;
   transform: rotate(90deg); 
   animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

/* Define the slide-right animation */
@keyframes slide-left {
   0% {
       transform: translateX(100px);
   }
   100% {
       transform: translateX(0);
   }
}

#lb-close:hover {
   /* transform: rotate(90deg);  */
}

.lb_text {
   text-align: left;
   margin-top: 300px;
   margin-left: 20px;
   width: 70%;
}


#grid-layout-lb {
   display: grid;
   grid-template-columns: repeat(2, 1fr); /* 2 columns */
   grid-template-rows: repeat(6, 1fr); /* 4 rows */
   gap: 20px; /* Gap between grid items */
   /* width: 400px; */
   /* margin-bottom: 0; */
   margin: 50px;
}

.item-lb {

   height: 20vh;
   /* padding: 10px; */
   border: 1px solid black;
   background-color: rgb(0, 139, 252);
   display: flex;
   justify-content: center;
   align-items: center; 

}




/* font */
@font-face {
   font-family: 'SF-Pro-Text-Regular';
   src: local('SF-Pro-Text-Regular'), url('../assets/SF-Pro-Text-Regular.otf') format('woff');
   font-weight: normal;
   font-style: normal;
 }

 /* bgmusicmx */

 #mscmxbg {
   position: absolute;
   width: 60vw;
   height: auto;
   left: 30%;
   top: -1%;
   z-index: -1;
 }


img, embed, object, video, picture {
    max-width: 100%;
  }

  
  html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  

  .full-width-grid-con {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;  
 }
 
  .grid-con {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 50px;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
 }
 
 
 .col-span-1 {grid-column: span 1 / span 1;}
 .col-span-2 {grid-column: span 2 / span 2;}
 .col-span-3 {grid-column: span 3 / span 3;}
 .col-span-4 {grid-column: span 4 / span 4;}
 .col-span-full {grid-column: 1 / -1;}
 
 .col-start-1   {grid-column-start: 1;}
 .col-start-2   {grid-column-start: 2;}
 .col-start-3   {grid-column-start: 3;}
 .col-start-4   {grid-column-start: 4;}
 
 .col-end-1  {grid-column-end: 1;}
 .col-end-2  {grid-column-end: 2;}
 .col-end-3  {grid-column-end: 3;}
 .col-end-4  {grid-column-end: 4;}
 .col-end-5  {grid-column-end: 5;}
 
 
 @media screen and (min-width: 768px) {
 
    .grid-con {
       display: grid;
       grid-template-columns: repeat(12, minmax(0, 1fr));
       grid-column-gap: 20px;
       padding-left: 15px;
       padding-right: 15px;
    }
 
    .m-col-span-1  {grid-column: span 1 / span 1;}
    .m-col-span-2  {grid-column: span 2 / span 2;}
    .m-col-span-3  {grid-column: span 3 / span 3;}
    .m-col-span-4  {grid-column: span 4 / span 4;}
    .m-col-span-5  {grid-column: span 5 / span 5;}
    .m-col-span-6  {grid-column: span 6 / span 6;}
    .m-col-span-7  {grid-column: span 7 / span 7;}
    .m-col-span-8  {grid-column: span 8 / span 8;}
    .m-col-span-9  {grid-column: span 9 / span 9;}
    .m-col-span-10 {grid-column: span 10 / span 10;}
    .m-col-span-11 {grid-column: span 11 / span 11;}
    .m-col-span-12 {grid-column: span 12 / span 12;}
    .m-col-span-full {grid-column: 1 / -1;}
 
    .m-col-start-1 {grid-column-start: 1;}
    .m-col-start-2 {grid-column-start: 2;}
    .m-col-start-3 {grid-column-start: 3;}
    .m-col-start-4 {grid-column-start: 4;}
    .m-col-start-5 {grid-column-start: 5;}
    .m-col-start-6 {grid-column-start: 6;}
    .m-col-start-7 {grid-column-start: 7;}
    .m-col-start-8 {grid-column-start: 8;}
    .m-col-start-9 {grid-column-start: 9;}
    .m-col-start-10   {grid-column-start: 10;}
    .m-col-start-11   {grid-column-start: 11;}
    .m-col-start-12   {grid-column-start: 12;}
    .m-col-start-13   {grid-column-start: 13;}
 
    .m-col-end-1   {grid-column-end: 1;}
    .m-col-end-2   {grid-column-end: 2;}
    .m-col-end-3   {grid-column-end: 3;}
    .m-col-end-4   {grid-column-end: 4;}
    .m-col-end-5   {grid-column-end: 5;}
    .m-col-end-6   {grid-column-end: 6;}
    .m-col-end-7   {grid-column-end: 7;}
    .m-col-end-8   {grid-column-end: 8;}
    .m-col-end-9   {grid-column-end: 9;}
    .m-col-end-10  {grid-column-end: 10;}
    .m-col-end-11  {grid-column-end: 11;}
    .m-col-end-12  {grid-column-end: 12;}
    .m-col-end-13  {grid-column-end: 13;}

    .sectionA {
      margin-top: -730px;
    }

    li {
      list-style: none;
      display: inline;
      /* display: flex; */
      /* margin: 0 50% ; */
      margin-left: 100px;
      background-color: aqua;
       
  }

 }
 
 @media screen and (min-width: 1200px) {
 
    .grid-con {
       display: grid;
       grid-template-columns: repeat(12, minmax(0, 1fr));
       grid-column-gap: 30px;
       padding-left: 15px;
       padding-right: 15px;
    }
 
    .l-col-span-1  {grid-column: span 1 / span 1;}
    .l-col-span-2  {grid-column: span 2 / span 2;}
    .l-col-span-3  {grid-column: span 3 / span 3;}
    .l-col-span-4  {grid-column: span 4 / span 4;}
    .l-col-span-5  {grid-column: span 5 / span 5;}
    .l-col-span-6  {grid-column: span 6 / span 6;}
    .l-col-span-7  {grid-column: span 7 / span 7;}
    .l-col-span-8  {grid-column: span 8 / span 8;}
    .l-col-span-9  {grid-column: span 9 / span 9;}
    .l-col-span-10 {grid-column: span 10 / span 10;}
    .l-col-span-11 {grid-column: span 11 / span 11;}
    .l-col-span-12 {grid-column: span 12 / span 12;}
    .l-col-span-full {grid-column: 1 / -1;}
 
    .l-col-start-1 {grid-column-start: 1;}
    .l-col-start-2 {grid-column-start: 2;}
    .l-col-start-3 {grid-column-start: 3;}
    .l-col-start-4 {grid-column-start: 4;}
    .l-col-start-5 {grid-column-start: 5;}
    .l-col-start-6 {grid-column-start: 6;}
    .l-col-start-7 {grid-column-start: 7;}
    .l-col-start-8 {grid-column-start: 8;}
    .l-col-start-9 {grid-column-start: 9;}
    .l-col-start-10   {grid-column-start: 10;}
    .l-col-start-11   {grid-column-start: 11;}
    .l-col-start-12   {grid-column-start: 12;}
    .l-col-start-13   {grid-column-start: 13;}
 
    .l-col-end-1   {grid-column-end: 1;}
    .l-col-end-2   {grid-column-end: 2;}
    .l-col-end-3   {grid-column-end: 3;}
    .l-col-end-4   {grid-column-end: 4;}
    .l-col-end-5   {grid-column-end: 5;}
    .l-col-end-6   {grid-column-end: 6;}
    .l-col-end-7   {grid-column-end: 7;}
    .l-col-end-8   {grid-column-end: 8;}
    .l-col-end-9   {grid-column-end: 9;}
    .l-col-end-10  {grid-column-end: 10;}
    .l-col-end-11  {grid-column-end: 11;}
    .l-col-end-12  {grid-column-end: 12;}
    .l-col-end-13  {grid-column-end: 13;}

    #image {
     display: block;
     background-color: rgb(97, 0, 21);
     color: rgb(255, 255, 255);
     border-radius: 5px;
     padding: 50px;
     padding-bottom: 300px;
     text-align: center;
     margin-top: 10px;
     margin-bottom:10px;
    }

    .sectionA {
      margin-top: -730px;
    }

    li {
      list-style: none;
      display: inline;
      /* display: flex; */
      /* margin: 0 50% ; */
      margin-left: 100px;
      background-color: aqua;
       
  }

   } 